@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
span{
    color:#009688;
}

body {
    height: 100%;
    position: relative;
    background-color: #f9f9fb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 10%;
}
nav .logo {
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: 0;
    color:rgb(0, 0, 0);
    position: relative;
}
nav ul li a::before{
    position: absolute;
    bottom: 0;
    content:'';
    height:3px;
    width: 0;
    background-color: #009688;
    border-radius: 6px;
    transition: 0.5s;
}
nav ul li a:hover::before {
    width: 100%;
}
.text {
    height: calc(95vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.text h1 {
    color:#fff;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.text p {
    color: #fff;
    display: flex;
    justify-content: center;
} 
.links {
    margin-top: 25px;
    width: 350px;
    display: flex;
    justify-content: center;
}
.links a{
    text-decoration: 0;
    color: #fff;
    border: 2px solid #009688;
    padding: 5px 40px;
    text-transform: uppercase;
    position: relative;
    border-radius: 6px;
}
.links a::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 0%;
    height: 100%;
    background-color: #009688;
    transition: 0.7s;
    z-index: -1;
    border-radius: 6px;
}

.links a:hover::after {
    width: 100%;
}
    
.links a:hover {
    border: 2px solid transparent;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    animation: anime 15s linear infinite;
    padding: 150px;
    color: white;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

header p {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

/* Animation background */
    
@keyframes anime{
    0%{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.8)),url(../images/slide-01.jpg) ;
        background-position: center;
        background-size: cover;
    }

    100%{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.8)),url(../images/slide-02.jpg) ;
        background-position: center;
        background-size: cover;
    }

} 

/*responsive*/

@media (max-width:760px) {
    nav ul {
        display: none;
    }
    .responsive_menu {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
    }
    .responsive_menu::before {
        content: "";
        position: absolute;
        width: 50px;
        transform: translateY(-5px);
        height: 5px;
        background-color: rgb(0, 0, 0);
        border-radius: 6px;
        transition: 0.5s;
    }
    .responsive_menu.active::before {
        transform: rotate(45deg) ;
        width: 28px;
    }
    .responsive_menu::after {
        content: "";
        position: absolute;
        width: 28px;
        transform: translateY(5px);
        height: 5px;
        background-color: rgb(0, 0, 0);
        border-radius: 6px;
        transition: 0.5s;
    }
    .responsive_menu.active::after{
        transform: rotate(-45deg) ;
    }  
    nav .menu.responsive {
        display:flex ;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(100px);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
    }

    .menu.responsive li {
        margin: 25px;
    }
}

/* -------------------------------------
Formulaire sondage
------------------------------------- */

/* .civilite{
    text-align: center;
} */

section#identite{
    background-color: #f9f9fb;
    padding: 50px 15px;
}

section#identite h1{
    /* text-align :center; */
    padding-left: 60px;
    color: #2a2a2a;
    margin-bottom: 60px;
    font-size: 2.8em;
}

section#identite .container {
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: rgb(214 214 214) 0px 10px 50px -10px;
}

section#identite .container .title{
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}

section#identite .container .title1{
    margin-right: 80%;
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}

section#identite .container .title1 input{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #e4e4ec;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

section#identite .container .title .civilite{
    margin-top: 25px;
}

section#identite .container .fform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#identite .container .fform input,
section#identite .container .fform .niveau_classe
{
    width: 45%;
}

section#identite .container .fform .niveau_classe:hover,
section#identite .container .fform input:hover{
    border-bottom: 2px solid #10cb58;
}

section#identite .container .fform input,
section#identite .container .fform .niveau_classe
{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

section#identite .container .fform .alm{
    margin: 15px 0;
    padding: 10px 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

/* ----------------------------------------------------- */

section#ptitdej{
    background-color: #f9f9fb;
    padding: 50px 15px;
}

section#ptitdej h1{
    /* text-align :center; */
    padding-left: 60px;
    color: #2a2a2a;
    margin-bottom: 60px;
    font-size: 2.8em;
}

section#ptitdej .container {
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: rgb(214 214 214) 0px 10px 50px -10px;
}

section#ptitdej .container .hea{
    margin-right: 80%;
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}

section#ptitdej .container .hea input{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #e4e4ec;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

section#ptitdej .container .cate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* section#ptitdej .container .cate #cat .alm{
    width: 45%;
} */

section#ptitdej .container .cate #cat .alm:hover{
    border-bottom: 2px solid #10cb58;
} 


section#ptitdej .container .cate #cat .alm{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}


/* ----------------------------------------------------- */

section#diner{
    background-color: #f9f9fb;
    padding: 50px 15px;
}

section#diner h1{
    /* text-align :center; */
    padding-left: 60px;
    color: #2a2a2a;
    margin-bottom: 60px;
    font-size: 2.8em;
}

section#diner .container {
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: rgb(214 214 214) 0px 10px 50px -10px;
}

section#diner .container .hea{
    margin-right: 80%;
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}

section#diner .container .hea input{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #e4e4ec;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

section#diner .container .cate{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#diner .container .cate #cat1 .alm:hover{
    border-bottom: 2px solid #10cb58;
} 


section#diner .container .cate #cat1 .alm{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

body button{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #20ca31;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    /* margin: 0 auto; */
    transition: 0.2s;
    margin-left: 1200px;
    margin-bottom: 50px;
}
